<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876317504343-hnue26t7kv8fgt2gb3c7lugljd2culem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876317504343-hnue26t7kv8fgt2gb3c7lugljd2culem</string>
	<key>API_KEY</key>
	<string>AIzaSyDkfupwfBzzxEgTlLliPpZnQAJv2CNFcUY</string>
	<key>GCM_SENDER_ID</key>
	<string>876317504343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mag.NoteApp</string>
	<key>PROJECT_ID</key>
	<string>noteapp-19f85</string>
	<key>STORAGE_BUCKET</key>
	<string>noteapp-19f85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876317504343:ios:bc967c304dbc66632bc412</string>
	<key>DATABASE_URL</key>
	<string>https://noteapp-19f85.firebaseio.com</string>
</dict>
</plist>